main {
    background: url('/img/fondohtmlgalaxia.jpg');
}

main, h1 {
    margin-top: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0.5em;
    color: aliceblue;
    font-size: 6em;
}

h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.6em;
    color: aliceblue;
    font-size: 4em;
}

/* ...Los arituculos tendran un borde y sus dimensiones... */
.product {     /* evita que ocupe 100% del ancho */
    width: 20em;               /* ancho fijo por caja (ajusta si quieres) */
    padding: 1em;              /* espacio entre borde y contenido */
    margin: 0.8em;               /* espacio entre cajas */
    border: 0.4em solid #646464;
    border-radius: 2em;
    background: #808080;
    align-items: center;
    text-align: center;
}
/* ...Cada imagen, de la clase producto tendra sus dimensiones... */
.product img {
    justify-content: center;
    height: 14em;
    transition: transform 1s, filter 1s;
    padding-top: 2em;
}
/* ...Y las secciones tendran un display flex para que se adapten... */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.product img:hover {
    transform: scale(1.25);
    filter: drop-shadow(0 2em 5em rgba(0, 0, 0, 0.8));
}

h3 {
    color: black;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.action button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #646464;
    border-radius: 0.5em;
    color: black;
    margin-top: 1em;
    border-color: black;
}

.action button:hover {
    background-color: #808080;
}
