/* FOOTER */
/* Contenidor principal on tenim una imatge de fons */
footer {
    background-image: url(/img/footerimg.jpg);
    color: #C0C0C0; 
    padding: 40px 20px 20px; 
}

/* Secció que conté els artícles */
footer section {
    display: flex; /* Activa flexbox */
    flex-wrap: wrap; /* Permet que els elements es tornin en múltiples línies */
    justify-content: space-around; /* Distribieix l'espaci entre elements */
    align-items: flex-start; /* Alinea els elements a l'inici de l'eix vertical */
    max-width: 1200px; /* Amplada màxima del contenidor */
    margin: 0 auto; /* Centra el contenidor horizontalment */
}

/* Cada article */
footer article {
    min-width: 250px; /* Amaplada mínima del contenidor*/
    text-align: center; /* Centra el contenidor*/
}

footer h4 {
    font-size: 1.3rem; 
    margin-bottom: 15px; /* Espai inferior */
    color: #C0C0C0; 
    font-weight: 6em; /* Gruixa de la font */
}

/* Xarxes socials */
footer article a {
    display: inline-block; /* Es torna de bloc que ocupi tota una línia */
    margin: 0 10px; /* Espai horizontal entre icones */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animació dels enllaços */
}
/* posam una alçada i amaplada */
.social img {
    width: 3em; 
    height: 3em; 
}

.social:hover {
    transform: translateY(-5px); /* Puja la icona 5px cap a dalt  */
}

/* SECCIÓ CONTACTE */

footer address {
    font-style: normal; /* Elimina la cursiva de l'element address */
    line-height: 1.8; /* espai entre líneas  */
}

footer address p {
    margin: 5px 0; /* Marge entre paràgrefs */
}

footer address a {
    color: #3498db; 
    text-decoration: none; /* Elimina el subrallat per defecte */
}

/* COPYRIGHT */

footer article:last-child {
    flex-basis: 100%; /* Ocupa tota la amplada disponible */
    margin-top: 20px; 
    padding-top: 20px; 
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Línea divisoria  */
    font-size: 0.9rem; 
    color: #95a5a6; 
}

/* RESPONSIVE*/

/* Media query per pantalles menors a 768px (tablets i mòvils) */
@media (max-width: 768px) {
   
    footer section {
        flex-direction: column; /* Posa els elements en fila horitzontalment com una pila */
        align-items: center; 
    }
    
    footer article {
        width: 100%; 
        margin-bottom: 20px; 
    }
}