*{
    margin: 0;
    font-family: 'Arial', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-image: url("../Fotos/espacio.jpg")
}

h2, h3, ul, p {
    list-style: none;
    padding-left: 0; 
    margin: 10px;
}
div h2{
    color: aliceblue;
}

/* Imagen de la Estrellita de mis H2 de Info*/
.estrella{
    width: 24px;
    height: 24px;
    vertical-align: middle; 
    margin-right: 5px; 
}
/* Imagen de la Estrellita de mis H2 de Info*/


/* Cajas Primera Fila*/
.info {
    display: flex;
    width: 100%;
    height: auto;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 0;
    flex-wrap: wrap;
}
.nosotros, .ofrecemos, .funcion {
    border: 6px solid #150303;
    background: rgba(125, 124, 125, 0.75);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* sombreado a la caja aunque no se aprecia mucho por el fondo oscuro*/
    border-radius: 25px;
    padding: 20px;
    width: 250px;
    height: auto;
    overflow: hidden;
    font-size: small;
}
.nosotros h2, .ofrecemos h2, .funcion h2 {
    text-align: center;
    font-size: 1.5rem;
}
.ofrecemos h3 {
    text-align: center;
}
.nosotros p, .ofrecemos p, .ofrecemos ul, .funcion p {
    text-align: left;
    font-weight: 600;
    color: #020423;
}
/* Cajas Primera Fila*/

/* Esperas Segunda Fila*/
.datos {
    display: flex;
    border-radius: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.datos h3 {
    text-align: center;
    font-size: 1.5rem;
}
.datos ul {
    text-align: initial;
    font-weight: 600;
    color: #020423;
    width: 260px;
}
/* Espferas*/




.estrellas, .planetas, .satelites, .Nebulosas {
    border: 2px solid #0f1567;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    border: 6px solid #150303;
    padding: 50px;
    font-size: small;
    background-color: rgba(125, 124, 125, 0.75);
    transition: 0.7s ease;
    position:relative;
    overflow:hidden;
    min-width: 260px;
}

/* hover estrellas*/
.estrellas:hover {
    border: none;
    width: 375px;
    height: 375px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color:transparent;
}
.estrellas:hover h3, .estrellas:hover ul {
    color: transparent;
}
.img_sol {
    opacity: 0;
    transition: 0.7s ease;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);;
}
.estrellas:hover .img_sol{
    opacity:1;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1.5);
}
/* Hover estrella*/

/* Hover Planeta*/
.planetas:hover {
    border: none;
    width: 375px;
    height: 375px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color:transparent;
}
.planetas:hover h3, .planetas:hover ul {
    color: transparent;
}
.img_planeta {
    opacity: 0;
    transition: 0.7s ease;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);;
}
.planetas:hover .img_planeta{
    opacity:1;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1.5);
}
/* Hover Planeta*/

/* Hover Satelite*/
.satelites:hover {
    border: none;
    width: 375px;
    height: 375px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color:transparent;
}
.satelites:hover h3, .satelites:hover ul {
    color: transparent;
}
.img_satelite {
    opacity: 0;
    transition: 0.7s ease;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);;
}
.satelites:hover .img_satelite{
    opacity:1;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1.5);
}
/* Hover Satelite*/

/*Hover Nebulosa*/
.Nebulosas:hover {
    border: none;
    width: 375px;
    height: 375px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color:transparent;
}
.Nebulosas:hover h3, .Nebulosas:hover ul {
    color: transparent;
}
.img_nebulosa {
    opacity: 0;
    transition: 0.7s ease;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);;
}
.Nebulosas:hover .img_nebulosa{
    opacity:1;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1.5);
}
/*Hover Nebulosa*/





