/* cards main index */
.imgindex {
    width: 10em;
    height: auto;
    background-color: black;
}
body {
    background-color: #c0c0c0;
}
section {
    display: flex;
    flex-wrap: wrap;
}

.container article {
    width: 18em;
    margin: 2.5em 0.5em 0em 0.5em;
    padding: 0.5em;
    text-align: center;
    font-size: 14pt;
    border: 2px solid;
    border-radius: 2em;
    color: beige;
    background-color: black;
}
.btncontingut {
    font-size: large;
    padding: 0.5em 2em 0.5em 2em;
    background-color: #c0c0c0;
    border-radius: 2em;
     transition-duration: 0.4s;

}
.btncontingut:hover {
    background-color: orange;
    color: black;
}